#header{
    display: flex;
    flex-direction: column;
}
body{
    width: fit-content;
}
.spec{
    flex-direction: column;
}
.spec .specialisation-box{
    width: auto;
}
.content-container{
    font-size: 20px;
}
.content-container input,.content-container textarea{
    width: 100%;
}
.showcase-area{
    display: flex;
    flex-direction: column;
}
.footer{
    height: 100%;
}